#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')

#if($project.version.endsWith("SNAPSHOT"))
#set($testProjectsGitBranch = 'master')
#else
#set($testProjectsGitBranch = "test-projects-${project.version}")
#end

$h2 Usage

Simplest project (pom.xml file) should look like:

```
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">

    <parent>
        <groupId>com.google.code.maven-play-plugin</groupId>
        <artifactId>play-app-default-parent</artifactId>
        <version>${playAppParentVersion}</version>
    </parent>

    <modelVersion>4.0.0</modelVersion>
    <groupId>test</groupId>
    <artifactId>test</artifactId>
    <version>1.0.0-SNAPSHOT</version>
    <packaging>play</packaging>

    <name>Play! Framework Maven Test Project</name>

    <build>
        <plugins>
            <plugin>
                <groupId>com.google.code.maven-play-plugin</groupId>
                <artifactId>play-maven-plugin</artifactId>
                <extensions>true</extensions>
            </plugin>
        </plugins>
    </build>
</project>
```

For Play! 1.3.x version use different parent:

```
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">

    <parent>
        <groupId>com.google.code.maven-play-plugin</groupId>
        <artifactId>play13-app-default-parent</artifactId>
        <version>${play13AppParentVersion}</version>
    </parent>

    <modelVersion>4.0.0</modelVersion>
    <groupId>test</groupId>
    <artifactId>test</artifactId>
    <version>1.0.0-SNAPSHOT</version>
    <packaging>play</packaging>

    <name>Play! Framework 1.3.x Maven Test Project</name>

    <build>
        <plugins>
            <plugin>
                <groupId>com.google.code.maven-play-plugin</groupId>
                <artifactId>play-maven-plugin</artifactId>
                <extensions>true</extensions>
            </plugin>
        </plugins>
    </build>
</project>
```

For more sample projects go to [test projects](https://github.com/play1-maven-plugin/play1-maven-test-projects/tree/${testProjectsGitBranch}/).
